.material-button {
  padding: 0.5rem 1rem; 
  border-radius: 0.5rem; 
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem; 
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  border: none;
  outline: none;

  &.material-button-contained {
    background-color: $primary; 
    color: $text-on-primary; 

    &:hover:not([disabled]) {
      background-color: $primary-hover; 
      box-shadow: 0 0.125rem 0.25rem #00000033; 
    }
  }

  &.material-button-outlined {
    border: 0.06rem solid $primary; 
    background: transparent;
    color: $primary; 

    &:hover:not([disabled]) {
      background-color: #6750a41a;
    }
  }

  &.material-button-text {
    background: transparent;
    color: $primary; 

    &:hover:not([disabled]) {
      background-color: #6750a41a; 
    }
  }

  &[disabled] {
    opacity: $disabled-opacity; 
    cursor: not-allowed;
  }
}